body {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: sans-serif;
    background: white;
  }
  
h1{
    font-size: 25px;
}
table, th, tr, td {
    border: black; border-style: ridge; border-collapse: collapse; font-family:'Trebuchet MS'; width: 600px; background-color:lightgray; z-index: 6; 
}   
table{
    position: absolute; left: 31.3%; top: 5%;
}


#bota{
    top: 20px;
    left: 320px;
    text-align: start;
    position: relative;
    border: solid 1.5px black;
    border-radius: 8px;
    width: auto;
    height: auto;
    z-index: 6;
}

#resultCalendario {
    font-weight: 800;
    font-size: 30px;
    margin: 1px 0 0;
    z-index: 5;
    position: absolute;
  }
  
#resultCalendario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 60px;
    z-index: 5;
}

#resultCalendario #calendario {
    display: flex;
    width: 7.5rem;
    height: 7.5rem;
    margin: 0.25rem;
    flex-flow: column;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 5;
}

#resultCalendario #calendario .dias {    
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
    z-index: 5; 
}

.dias:hover{
    color: red;
    cursor: pointer;
    z-index: 5;
}

#resultCalendario .hoje {
    background: #ffffff70;
}

#resultCalendario .hoje .dias {
    font-weight: 800;
}

.botao {
    background: rgba(255, 255, 255, 0.25);    
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.18);
    width: 3rem;
    height: 5rem;
    font-weight: 800;
}

.botao:hover {
    width: 3rem;
    height: 5rem;
    cursor: pointer;
    animation: sombra 1s;
    animation-fill-mode: forwards;
}
.botao:not(:hover){
    animation: desombra 1s;
}

@keyframes sombra {
    0% {
        
    }
    100% {
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }

}
@keyframes desombra {
    0% {
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }
    100% {
        box-shadow: none;
    }

}

#result{
    display: flex;
    flex-flow: column;
    text-orientation:upright;
    writing-mode:vertical-rl;
    position: absolute;
    left: 3%;
    top: 15%;
    letter-spacing: -3px;
    font-size: 40px;
    opacity: 0.5;
    
}
#botas{
display: flex;
width: 1050px;
height: 765px;
align-items: center;
justify-content: center;
justify-content: space-between;
position: absolute;
z-index: 1;

}

#medicamentos{
    position: absolute;
    z-index: 9;
    top: 100px;
}